@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.upload-wrapper .uploadzone .success {
  display: none;
}

.upload-wrapper:hover .uploadzone {
  border: 2px dashed #666;
}

.upload-wrapper input[type="file"]:valid + .uploadzone {
  border-color: #666;
}

.upload-wrapper input[type="file"]:valid + .uploadzone .success {
  display: inline-block;
}

.upload-wrapper input[type="file"]:valid + .uploadzone .default {
  display: none;
}

/* .upload-wrapper input[type="file"]:valid + .uploadzone.success {
  display: none;
} */
textarea {
  field-sizing: content;
}

.burst {
  background: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  /* position: relative; */
  /* width: 100%;
  height: 100%; */
}

.burst::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.2rem;
  height: 0.2rem;
  background: cyan;
  border-radius: 100%;
  z-index: -1;
  padding: 1rem;
  animation: pops 3s linear infinite;
  filter: blur(30px);
}

.loader {
  width: 30px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #262626 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

@keyframes pops {
  0%,
  100% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(1);
  }
}

.prose-invert {
}
